.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: -1.688rem;
}

.form textarea {
  width: 40%;
  padding: 1rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  height: 3.375rem;
  resize: none;
}

.form button {
  cursor: pointer;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.form button:hover {
  background-color: var(--blue);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
}

.form button:disabled {
  cursor: not-allowed;
}